@model FormSwapDemo.Models.ContactModel



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Osobista Książka Adresowa</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/site.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="content-wrapper" style="height: 2.5em">

            <div class="float-right">
                <section id="login">

                    @{
                        var user = Session["user"] as FormSwapDemo.Models.LoginModel;
                    }

                    @if (user != null)
                    {
                        <ul>
                            <li style="font-weight: bold">Witaj @user.Login!</li>
                            <li>@Html.ActionLink("Wyloguj się", "Logout", "Application")</li>
                        </ul>
                    }


                </section>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()

                <fieldset>
                    <legend>Delete Contact Form</legend>
                    <h2>Usuń Kontakt</h2>
                    <h4>Czy jesteś pewien, że chcesz usunać wybrany kontakt?</h4>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Surname)
                            @Html.TextBoxFor(m => m.Surname, new { @readonly = "readonly" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Phone)
                            @Html.TextBoxFor(m => m.Phone, new { @readonly = "readonly" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Street)
                            @Html.TextBoxFor(m => m.Street, new {@readonly = "readonly"})
                        </li>
                        <li>
                            @Html.LabelFor(m => m.City)
                            @Html.TextBoxFor(m => m.City, new {@readonly = "readonly"})
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Country)
                            @Html.TextBoxFor(m => m.Country, new { @readonly = "readonly" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.PostalCode)
                            @Html.TextBoxFor(m => m.PostalCode, new { @readonly = "readonly" })
                        </li>
                        <li>
                            <input type="submit" value="Usuń Kontakt" />
                            <input type="button" value="Powrót" onclick="location.href = '@Url.Action("Menu", "Application")'" />
                        <li />
                    </ol>

                </fieldset>
            }
        </section>
    </div>
</body>
</html>