@using FormSwapDemo.Models
@model IEnumerable<FormSwapDemo.Models.ContactModel>

@{
    Layout = null;
}




@{
    var grid = new WebGrid(source: Model, canPage: false, canSort: true, ajaxUpdateContainerId: "myGrid");
}
<!DOCTYPE html>

<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>


<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Osobista Książka Adresowa</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width"/>
    <link href="/Content/site.css" rel="stylesheet"/>

</head>
<body>
<header>
    <div class="content-wrapper" style="height: 2.5em">

        <div class="float-right">
            <section id="login">

                @{
                    var user = Session["user"] as FormSwapDemo.Models.LoginModel;
                }

                @if (user != null)
                {
                    <ul>
                        <li style="font-weight: bold">Witaj @user.Login!</li>
                        <li>@Html.ActionLink("Twój Profil", "UserProfile", "Application")</li>
                        <li>@Html.ActionLink("Wyloguj się", "Logout", "Application")</li>
                    </ul>
                }
            </section>
        </div>
    </div>
</header>
<div id="body">
    @if (user != null)
    {
        if (FormSwapDemo.Models.ProfileModel.IsUnsafeUser(@user.Login))
        {
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>Wykryliśmy @( FormSwapDemo.Models.ProfileModel.GetNumberOfAttempts(@user.Login)) nieudanych prób logowania na twoje konto!</h1>
                    </hgroup>
                    <p>
                        @Html.ActionLink("Kliknij tutaj, aby zmienić swoje hasło teraz...", "UserProfile", "Application")
                    </p>
                </div>
            </section>
        }
    }
    <section class="content-wrapper main-content clear-fix">


        <h2>Lista Twoich Kontaktów</h2>


        @using (Html.BeginForm("ShowContactGroup", "Application"))
        {
            <input type="button" value="Dodaj Kontakt" onclick="location.href = '@Url.Action("AddContact", "Application")'"/>

            if (Model.Any())
            {
                <input type="submit" value="Usuń Zaznaczone"/>
                <div style="overflow: auto">





                    @grid.GetHtml(htmlAttributes: new {id = "myGrid"},
                        columns: grid.Columns
                            (
                                grid.Column(" ", format: @<text><input name="ids" type="checkbox" value="@item.Id"/></text>),
                                grid.Column("Name", "Imię"),
                                grid.Column("Surname", "Nazwisko"),
                                grid.Column("Phone", "Telefon"),
                                grid.Column("Street", "Ulica"),
                                grid.Column("City", "Miasto"),
                                grid.Column("Country", "Kraj"),
                                grid.Column("PostalCode", "Kod Pocztowy"),
                                grid.Column("", format: (item) => Html.ActionLink("Edytuj", "EditContact", "Application", new {id = item.Id}, null)),
                                grid.Column("", format: (item) => Html.ActionLink("Usuń", "DeleteContact", "Application", new {id = item.Id}, null))
                            )
                        )
                </div>
            }
            else
            {
                if (ViewData["SearchCondition"] == null || ViewData["SearchCondition"] == "")
                {
                    <p>Lista kontaktów jest pusta.</p>
                }
                else
                {
                    <p>Nie znaleziono żadnych kontaktów dla podanej frazy: @ViewData["SearchCondition"]</p>
                }
            }
        }

        @if (ViewData["SearchCondition"] == null || ViewData["SearchCondition"] == "")
        {
            if (Model.Any())
            {
                <form action='@Url.Action("Menu", "Application")'>

                    <input type="text" name="condition"/>

                    <input type="submit" value="Szukaj"/>

                </form>
            }
        }
        else
        {
            <form action='@Url.Action("Menu", "Application")'>

                <input type="text" value="@ViewBag.SearchCondition" name="condition"/>

                <input type="submit" value="Szukaj"/>

                <input type="button" value="Powrót Do Listy Kontaktów" onclick="location.href = '@Url.Action("Menu", "Application")'"/>

            </form>
        }

    </section>
</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year - Osobista Książka Adresowa </p>
        </div>
    </div>
</footer>
</body>
</html>


