@model FormSwapDemo.Models.ProfileModel



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Osobista Książka Adresowa</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/site.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="content-wrapper" style="height: 2.5em">

            <div class="float-right">
                <section id="login">

    @{
        var user = Session["user"] as FormSwapDemo.Models.LoginModel;
    }

    @if (user != null)
    {
        <ul>
            <li style="font-weight: bold">Witaj @user.Login!</li>
            <li>@Html.ActionLink("Wyloguj się", "Logout", "Application")</li>
        </ul>
    }


                </section>
            </div>
        </div>
    </header>
    <div id="body">       
        <section class="content-wrapper main-content clear-fix">
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <h2>Zmień swoje hasło</h2>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmNewPassword)
                @Html.PasswordFor(m => m.ConfirmNewPassword)
            </li>

        </ol>
        <input type="submit" value="Zmień Hasło"/>
        <input type="button" value="Powrót" onclick="location.href='@Url.Action("Menu", "Application")'" />


    </fieldset>
}
</section>
    </div>
</body>
</html>