@model FormSwapDemo.Models.RegisterModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <h2>Utwórz Konto</h2>
        <ol>
            <li>
                @Html.LabelFor(m => m.Login)
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.SecretQuestion)
                @Html.TextBoxFor(m => m.SecretQuestion)
            </li>
            <li>
                @Html.LabelFor(m => m.SecretAnswer)
                @Html.TextBoxFor(m => m.SecretAnswer)
            </li>
        </ol>
        <input type="submit" value="Utwórz Konto"/>
    </fieldset>

    <p>
        Posiadasz konto? <a href="#" class="loginLink">Zaloguj się</a>
    </p>

}