@model FormSwapDemo.Models.RemindModel



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Osobista Książka Adresowa</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/site.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="content-wrapper" style="height: 2.5em">
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()


                <fieldset>
                    <legend>Remind Password Form</legend>
                    <h2>Przypomnij Hasło</h2>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.SecretQuestion)
                            @Html.TextBoxFor(m => m.SecretQuestion, new { @readonly = "readonly" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.UserSecretAnswer)
                            @Html.TextBoxFor(m => m.UserSecretAnswer)
                        </li>

                    </ol>
                    <input type="submit" value="Przypomnij Hasło" />
                    <input type="button" value="Wyjście" onclick="location.href='@Url.Action("Index", "Home")'" />


                </fieldset>
            }
        </section>
    </div>
</body>
</html>